@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');
:root {
  /* Primary Colors */
  --primary-blue: #4a3aff; /* Hero gradient start, buttons */
  --primary-hover-blue: #392ecc; /* Primary button hover */
  --secondary-orange: #E6C200; /* Highlights, secondary buttons */
  --secondary-hover-orange: #f8e263; /* Hover for secondary buttons */
  --happy-yellow: #f0cc04; /* Happy yellow, used in hero gradient, buttons */
  --navbar-bg: #6188d1; /* Navbar background */
  --footer-bg: #4a3aff; /* Footer background */
  
  /* Neutrals */
  --white: #f7f1f1;
  --dark: #000000e8;
  --light-gray: #f9f9f9;
  --card-bg: #ffffff;
  --shadow: rgba(0,0,0,0.1);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Nunito', sans-serif;
}
body {
overflow-x: hidden;
margin-inline: auto;
font-family: 'Nunito', sans-serif;
}
#link{
  text-decoration: none;
  color: inherit;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}